{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% comment %} Default Title Name {% endcomment %}
        Homepage
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
     {% comment %} {% tailwind_css %} {% endcomment %}
</head>
<body class="page-body">
    <h1 class= "page-header">Hello World</h1>
    <nav> This is navigation bar </nav>
    
    {% comment %} /---no default body---/ {% endcomment %}
   
</body>
<div class="block-content">
    {% block content %}{% endblock %}
</div>
</html>

